.status-1{  } /* Free */
.status-2{ background-color: #000000 !important; } /* Bought */
.status-3{ background: url(/images/vector/cross.svg) no-repeat center center, #D3D3D3 !important; background-size: 50%; } /* Booked */
.selected{ background-color: #C8007D !important; }

.type-0{ background-color: #CA3390; }
.type-1{ background-color: #9A0C62; }
.type-2{ background-color: #FDA929; }
.type-3{ background-color: #E37CBC; }
.type-4{ background-color: #E37CBC; }
.type-disabledperson:before{
    font-family: FontAwesome;
    content: "\f193";
    position: absolute;
    color: #fff;
}


.body-select-place{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    line-height: 1;
}
.body-select-place p{
    margin-bottom: 0;
}
.lay-bg{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(33, 34, 38, 0.7)
}
.BlurredBackground{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -2;
}
.BlurredBackground-backgroundImage{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.CheckoutHeader{
    height: 65px;
    background-color: #212226;
    border-bottom: 1px solid rgba(255,255,255, 0.4);
    color: #fff;
}
.go-back-link{
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    outline: none;
    font-size: 14px;
}
.go-back-link i {
    width: 20px;
    height: 20px;
    fill: #fff;
}
.go-back-link svg {
    width: 20px;
    height: 20px;
}
.go-back-link:hover{
    color: #00a8e1;
}
.go-back-link:hover i{
    fill: #00a8e1;
}
.CheckoutHeader-Title{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}
.link-close{
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.link-close i{
    fill: #fff;
}
.link-close:hover i{
    fill: #00a8e1;
}



/********************/
/********************/
/********************/

/*********            HEADER  END       ***********/

/********************/
/********************/
/********************/




.movie-title{
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255,255,255, 0.4);
}
.movie-avatar{
    width: 82px;
    height: 82px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
}
.movie-avatar img{
    max-height: 90px;
}
.movie-title__h1{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 11px;
}
.movie-title__top{
    padding-left: 30px;
}
.movie-title__info{
    font-size: 16px;
    color: #fff;
    opacity: .6;
}
.movie-title__info-spans > span{
    padding: 0 22px;
    border-right: 1px solid #fff;
}
.movie-title__info-spans > span:nth-child(1){
    padding-left: 0;
}
.movie-title__info-spans > span:last-child{
    border-right: none;
}
.movie-title__address{
    font-size: 10px;
    padding-top: 9px;
    padding-bottom: 4px;
    border-bottom: 1px solid #fff;
    display: inline-block;
}
.more-info{
    background-color: #212226;
    padding: 17px 12px;
    margin-top: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;    
}
.more-info p{
    opacity: .6;
    font-size: 12px;
}
.more-info .more-info__title{
    opacity: 1;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 12px;
    text-align: center;
}
.more-info__block{
    border-right: 1px solid rgba(255,255,255, .6);
    padding: 0 8px;
    width: 33.3333333333%;
}
.more-info__block:last-child{
    border-right: none;
}
@media (max-width: 991px){
    .movie-title__info-spans{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .movie-title__info-spans > span {
        padding: 2px 0;
        border-right: none;
    }    
}
@media (max-width: 767px){
    .movie-avatar{
        margin: 0 auto;
    }
    .more-info__block{
            width: 100%;
    border-right: none;
    padding-bottom: 10px;
    }
}




/********************/
/********************/
/********************/

/*********            MOVIE-TITLE  END       ***********/

/********************/
/********************/
/********************/





.hall-scheme-wrapper{
    border-bottom: 1px solid rgba(255,255,255, 0.4);
}
.hall-scheme{
    color: #fff;
    position: relative;
}
.open-screen{
    position: absolute;
    right: 15px;
    top: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    width: 56px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    z-index: 1;
}
.open-screen:hover{
    background-color: #000;
    border-color: #000;
}
.SeatingLayout-screen{
    text-align: center;
    padding-top: 40px;
    position: relative;
}
.SeatingLayout-screenText{
    text-transform: uppercase;
    color: #fff;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    top: 67px;
    display: block;
    position: absolute;
    width: 100%;
}
.SeatingLayout-screen .icon {
    display: block;
    width: 900px;
    margin: 0 auto;
    height: 450px;
    max-width: 100%;
}
.SeatingLayout-seats{
    /*position: absolute; 
    top: 126px;
    width: 100%;*/
    margin-top: -100px;  
}
.SeatingLayout-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    padding-bottom: 21px;
}
.RowNumber-left{
    opacity: .6;
    font-size: 16px;
    font-weight: 700;
    margin-right: auto;
}
.RowNumber-right{
    margin-left: auto;
}
.Seat {
    position: relative;
    display: inline-block;
    border: solid 1px #fff;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 39px;
    height: 26px;
    margin-left: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.Seat:hover{
    border-color: #0056b3;
}
.SeatNumber{
    font-size: 16px;
    font-weight: 700;
}
.Seat-notASeat{
    opacity: 0;
}
.ml-31{
    margin-left: 31px;
}
.SeatingLayout-key{
    max-width: 525px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 38px;
    padding-bottom: 37px;
    color: #fff;
}
.SeatingLayout-key__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.SeatingLayout-key__item span{
    padding-left: 9px;
    font-size: 12px;
}
.SeatingLayout-key__Seat{
    width: 24px;
    height: 14px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 0;
}
.SeatingLayout-key__Seat:hover{
    border-color: #fff;
}
.SeatingLayout-key .type-disabledperson:before{
    font-size: 10px;
}
@media (max-width: 991px){
    .hall-scheme{
        -webkit-transform: scale(.9);
            -ms-transform: scale(.9);
                transform: scale(.9);
    }
}
@media (max-width: 767px){
    .hall-scheme {
        -webkit-transform: scale(.7);
            -ms-transform: scale(.7);
                transform: scale(.7);
        margin-top: -91px;
    }
    .open-screen{
        top: 10px;
        width: 36px;
        height: 36px;
    }
    .open-screen img{
        max-width: 14px;
        height: 14px;
    }
}
@media (max-width: 575px){
    .hall-scheme {
        -webkit-transform: scale(.45);
            -ms-transform: scale(.45);
                transform: scale(.45);
        margin-top: -136px;
        margin-bottom: -142px;
    }
}
@media (max-width: 400px){
    .hall-scheme {
        -webkit-transform: scale(.25);
            -ms-transform: scale(.25);
                transform: scale(.25);
        margin-top: -237px;
        margin-bottom: -200px;
        margin-left: -40px;
    }
}



/********************/
/********************/
/********************/

/*********            HALL-SCHEME  END       ***********/

/********************/
/********************/
/********************/

.CheckoutFooter {
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    background-color: #212226;
    padding-top: 43px;
    padding-bottom: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.CheckoutFooter__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.CheckoutFooter__seats{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.CheckoutFooter__seats p{
    font-size: 16px;
    font-weight: 500;
    opacity: .6;
    padding: 0 17px;
    color: #fff;
    border-right: 1px solid #fff;
}
.CheckoutFooter__seats .br-none{
    border-right: none;
}
.CheckoutFooter__button{
    width: 225px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 11px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    background-color: transparent;
}
.CheckoutFooter__button:hover{
    background-color: #0056b3;
    border-color: #0056b3;
}
.CheckoutFooter__button:active,
.CheckoutFooter__button:focus{
    outline: none;
}
@media (max-width: 767px){
    .CheckoutFooter__seats p{
        padding: 0;
        padding-bottom: 5px;
        border-right: none;
    }
}